/*  original EFES css

 ul.index-instances { }

.index-instance-file {
    font-weight: bolder;
}

.index-instance-text-parts { }

.index-instance-line { }

footer {
    background: none repeat scroll 0 0 #fafafa;
    border-top: 1px solid #eeeeee;
    color: #777777;
    font-size: 80%;
    padding: 1em;
}
*/

/*Keyboard*/ 

#keyboard_box {
    display: none;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 4em;
    float: none;
    width: 300px;
    height: 300px;
}
#keyboard li {
    font-size: 18px;
    list-style: none;
    float: left;
    margin: 0 5px 5px 0;
    width: 22px;
    height: 22px;
    line-height: 25px;
    text-align: center;
    background: #f0f0f0;
    border-radius: 5px;
}

/* for AR keyboard, see also search.xml */

@font-face {
    font-family: athenaruby;
    src: url('../fonts/AthenaRuby_b021.ttf') format('truetype')
}  /* for Athena Ruby in keyboard! */

#keyboard_box-ar {
    display: none;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 4em;
    float: none;
    width: 300px;
    height: 300px;
}
#keyboard-ar li {
    font-family: athenaruby;
    font-size: 18px;
    list-style: none;
    float: left;
    margin: 0 5px 5px 0;
    width: 22px;
    height: 22px;
    line-height: 25px;
    text-align: center;
    background: #f0f0f0;
    border-radius: 5px;
}

#keyboard-ar li:hover {
    border: none;
    background-color: #e5e5e5;
    cursor: pointer;
}

#keyboard li:hover {
    border: none;
    background-color: #e5e5e5;
    cursor: pointer;
}

ul.index-instances {
    font-weight: normal;
    margin-bottom: auto;
    margin-top: auto;
}

.index-instance-file {
    font-weight: normal;
}

.index-instance-text-parts {
    font-weight: normal;
}

.index-instance-line {
    font-weight: normal;
}

#indices-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, minmax(0, 1fr)) ;
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

#site-title {
    background: url("../images/seal.png") center no-repeat;
    height: 220px;
    width: 100%;
}

#logo-download {
    margin-top: auto;
    margin-bottom: auto;
}

#logo-lang {
    margin-top: 12px;
    margin-bottom: 8px;
    height: 24px;
}

#export {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#exportp {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.landing-img {
    margin-bottom: 20px;
}

nav.top-bar,
nav.top-bar ul.right li,
nav.top-bar ul.left * {
    background-color: #562c2c;
    font-size: 18px;
    font-weight:normal;
}

nav.top-bar {
    margin: 0 0px 20px 0px;
}

.top-bar-section {
    letter-spacing: 1px;
}

p {
    text-align: justify;
}

li {
    text-align: left;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
    font-family: "calibri";
}

h1 {
    font-size: 45px;
    color: #562c2c;
    padding-bottom: 10px;
    margin-top: auto;
}

a:link,
a:visited,
a:active {
    color: #637893;
}
a:hover {
    color: #45658b;
}

body {
    background: -7px top repeat-y;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: white;
    display: block;
    /* padding: 3px 1px 3px 3px; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.result-headline {
    background-color: #efefef;
}

.result{
    margin-bottom: 5px;
}
.active, .result-headline:hover {
  background-color: #ccc;
  cursor: pointer;
}

.result-details {
  padding: 0 18px;
  background-color: #efefef;
  overflow: hidden;
}

.hidden {
    display: none;
}


.thumbnail{
    width: 200px;
    border: 1px solid lightgrey;
}

.result-headline{
    display: flex;
    justify-content: space-between;
    padding: 5px
}

.result-headline p {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}

.result-headline a {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: underline;
    font-size: medium;
}

.collection-headline{
    background-color: #562c2c;
    color: white;
    text-align: center;
    margin-bottom: 3px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
}

.result-metadata{
    display:flex;
}

.period{
    margin-right: 15px;
}


.thumbcontainer{
    width: 100%;
    display: flex
}

.img-text{
    text-align: justify;
    width: 200px;
    margin-right: 5px;
    margin-bottom: 5px;

}

.thumbtext{
    font-size: small;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #562c2c; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}